<?xml version="1.0"?>

<model>
  <name>grass plane</name>
  <version>1.0</version>
  <sdf version="1.3">model.sdf</sdf>

  <author>
    <name>uib18441</name>
    <email>yingchong.ma@continental-corporation.com</email>
  </author>

  <description>
    A grass textured plane.
  </description>

</model>
